.services{
    .item-service{
        text-align: center;
        p{
            margin: 10px 0px;
            color: rgb(100, 100, 100);
            span{
                margin: 0px 4px;
                font-weight: 500;
                color: #6C63FF;
            }
        }
    }
}