.prices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
    .dollar{
        position: relative;
        top: -4px;
        margin-right: 3px;
    }
    .amount{
        display: flex;
        p{
            font-size: 1.7em ;
            font-weight: 500;
            margin-right: 3px;
        }
        .date{
            display: flex;
            align-items: flex-end;
            margin: 0px;
        }
    }
}